=begin
#Commercetools

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: undefined

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module CtSdk
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_key [String] 
    # @param id [String] 
    # @param order_edit_apply [OrderEditApply] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def apply_order_edit(project_key, id, order_edit_apply, opts = {})
      apply_order_edit_with_http_info(project_key, id, order_edit_apply, opts)
      nil
    end

    # @param project_key [String] 
    # @param id [String] 
    # @param order_edit_apply [OrderEditApply] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apply_order_edit_with_http_info(project_key, id, order_edit_apply, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_order_edit ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.apply_order_edit"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_order_edit"
      end
      # verify the required parameter 'order_edit_apply' is set
      if @api_client.config.client_side_validation && order_edit_apply.nil?
        fail ArgumentError, "Missing the required parameter 'order_edit_apply' when calling DefaultApi.apply_order_edit"
      end
      # resource path
      local_var_path = '/{projectKey}/orders/edits/{ID}/apply'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'ID' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_edit_apply)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_order_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_order_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Authenticate Customer (Sign In). Retrieves the authenticated customer (a customer that matches the given email/password pair). If used with an access token for Anonymous Sessions, all orders and carts belonging to the anonymousId will be assigned to the newly created customer. If a cart is is returned as part of the CustomerSignInResult, it has been recalculated (It will have up-to-date prices, taxes and discounts, and invalid line items have been removed.).
    # @param project_key [String] 
    # @param customer_signin [CustomerSignin] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticate_customer__sign_in(project_key, customer_signin, opts = {})
      authenticate_customer__sign_in_with_http_info(project_key, customer_signin, opts)
      nil
    end

    # Authenticate Customer (Sign In). Retrieves the authenticated customer (a customer that matches the given email/password pair). If used with an access token for Anonymous Sessions, all orders and carts belonging to the anonymousId will be assigned to the newly created customer. If a cart is is returned as part of the CustomerSignInResult, it has been recalculated (It will have up-to-date prices, taxes and discounts, and invalid line items have been removed.).
    # @param project_key [String] 
    # @param customer_signin [CustomerSignin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticate_customer__sign_in_with_http_info(project_key, customer_signin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.authenticate_customer__sign_in ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.authenticate_customer__sign_in"
      end
      # verify the required parameter 'customer_signin' is set
      if @api_client.config.client_side_validation && customer_signin.nil?
        fail ArgumentError, "Missing the required parameter 'customer_signin' when calling DefaultApi.authenticate_customer__sign_in"
      end
      # resource path
      local_var_path = '/{projectKey}/login'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_signin)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.authenticate_customer__sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#authenticate_customer__sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Authenticate Customer (Sign In) in store
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_signin [CustomerSignin] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authenticate_customer__sign_in_in_store(project_key, store_key, customer_signin, opts = {})
      authenticate_customer__sign_in_in_store_with_http_info(project_key, store_key, customer_signin, opts)
      nil
    end

    # Authenticate Customer (Sign In) in store
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_signin [CustomerSignin] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authenticate_customer__sign_in_in_store_with_http_info(project_key, store_key, customer_signin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.authenticate_customer__sign_in_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.authenticate_customer__sign_in_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.authenticate_customer__sign_in_in_store"
      end
      # verify the required parameter 'customer_signin' is set
      if @api_client.config.client_side_validation && customer_signin.nil?
        fail ArgumentError, "Missing the required parameter 'customer_signin' when calling DefaultApi.authenticate_customer__sign_in_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/login'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_signin)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.authenticate_customer__sign_in_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#authenticate_customer__sign_in_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerSignInResult]
    def authenticate_my_customer__sign_in(project_key, opts = {})
      data, _status_code, _headers = authenticate_my_customer__sign_in_with_http_info(project_key, opts)
      data
    end

    # @param project_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerSignInResult, Integer, Hash)>] CustomerSignInResult data, response status code and response headers
    def authenticate_my_customer__sign_in_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.authenticate_my_customer__sign_in ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.authenticate_my_customer__sign_in"
      end
      # resource path
      local_var_path = '/{projectKey}/me/login'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerSignInResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.authenticate_my_customer__sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#authenticate_my_customer__sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a customers password
    # @param project_key [String] 
    # @param customer_change_password [CustomerChangePassword] 
    # @param [Hash] opts the optional parameters
    # @return [Customer]
    def change_a_customers_password(project_key, customer_change_password, opts = {})
      data, _status_code, _headers = change_a_customers_password_with_http_info(project_key, customer_change_password, opts)
      data
    end

    # Change a customers password
    # @param project_key [String] 
    # @param customer_change_password [CustomerChangePassword] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Customer, Integer, Hash)>] Customer data, response status code and response headers
    def change_a_customers_password_with_http_info(project_key, customer_change_password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.change_a_customers_password ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.change_a_customers_password"
      end
      # verify the required parameter 'customer_change_password' is set
      if @api_client.config.client_side_validation && customer_change_password.nil?
        fail ArgumentError, "Missing the required parameter 'customer_change_password' when calling DefaultApi.change_a_customers_password"
      end
      # resource path
      local_var_path = '/{projectKey}/customers/password'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_change_password)

      # return_type
      return_type = opts[:debug_return_type] || 'Customer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.change_a_customers_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#change_a_customers_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a customers password
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_change_password [CustomerChangePassword] 
    # @param [Hash] opts the optional parameters
    # @return [Customer]
    def change_a_customers_password_in_store(project_key, store_key, customer_change_password, opts = {})
      data, _status_code, _headers = change_a_customers_password_in_store_with_http_info(project_key, store_key, customer_change_password, opts)
      data
    end

    # Change a customers password
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_change_password [CustomerChangePassword] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Customer, Integer, Hash)>] Customer data, response status code and response headers
    def change_a_customers_password_in_store_with_http_info(project_key, store_key, customer_change_password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.change_a_customers_password_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.change_a_customers_password_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.change_a_customers_password_in_store"
      end
      # verify the required parameter 'customer_change_password' is set
      if @api_client.config.client_side_validation && customer_change_password.nil?
        fail ArgumentError, "Missing the required parameter 'customer_change_password' when calling DefaultApi.change_a_customers_password_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/customers/password'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_change_password)

      # return_type
      return_type = opts[:debug_return_type] || 'Customer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.change_a_customers_password_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#change_a_customers_password_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param project_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [MyCustomer]
    def change_my_customers_password(project_key, opts = {})
      data, _status_code, _headers = change_my_customers_password_with_http_info(project_key, opts)
      data
    end

    # @param project_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MyCustomer, Integer, Hash)>] MyCustomer data, response status code and response headers
    def change_my_customers_password_with_http_info(project_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.change_my_customers_password ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.change_my_customers_password"
      end
      # resource path
      local_var_path = '/{projectKey}/me/password'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MyCustomer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.change_my_customers_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#change_my_customers_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The token value is used to reset the password of the customer with the given email. The token is valid only for 10 minutes.
    # @param project_key [String] 
    # @param customer_create_password_reset_token [CustomerCreatePasswordResetToken] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_a_token_for_resetting_the_customers_password(project_key, customer_create_password_reset_token, opts = {})
      create_a_token_for_resetting_the_customers_password_with_http_info(project_key, customer_create_password_reset_token, opts)
      nil
    end

    # The token value is used to reset the password of the customer with the given email. The token is valid only for 10 minutes.
    # @param project_key [String] 
    # @param customer_create_password_reset_token [CustomerCreatePasswordResetToken] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_a_token_for_resetting_the_customers_password_with_http_info(project_key, customer_create_password_reset_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_a_token_for_resetting_the_customers_password ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_a_token_for_resetting_the_customers_password"
      end
      # verify the required parameter 'customer_create_password_reset_token' is set
      if @api_client.config.client_side_validation && customer_create_password_reset_token.nil?
        fail ArgumentError, "Missing the required parameter 'customer_create_password_reset_token' when calling DefaultApi.create_a_token_for_resetting_the_customers_password"
      end
      # resource path
      local_var_path = '/{projectKey}/customers/password-token'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_create_password_reset_token)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_a_token_for_resetting_the_customers_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_a_token_for_resetting_the_customers_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The token value is used to reset the password of the customer with the given email. The token is valid only for 10 minutes.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_create_password_reset_token [CustomerCreatePasswordResetToken] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_a_token_for_resetting_the_customers_password_in_store(project_key, store_key, customer_create_password_reset_token, opts = {})
      create_a_token_for_resetting_the_customers_password_in_store_with_http_info(project_key, store_key, customer_create_password_reset_token, opts)
      nil
    end

    # The token value is used to reset the password of the customer with the given email. The token is valid only for 10 minutes.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_create_password_reset_token [CustomerCreatePasswordResetToken] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_a_token_for_resetting_the_customers_password_in_store_with_http_info(project_key, store_key, customer_create_password_reset_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_a_token_for_resetting_the_customers_password_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_a_token_for_resetting_the_customers_password_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_a_token_for_resetting_the_customers_password_in_store"
      end
      # verify the required parameter 'customer_create_password_reset_token' is set
      if @api_client.config.client_side_validation && customer_create_password_reset_token.nil?
        fail ArgumentError, "Missing the required parameter 'customer_create_password_reset_token' when calling DefaultApi.create_a_token_for_resetting_the_customers_password_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/customers/password-token'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_create_password_reset_token)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_a_token_for_resetting_the_customers_password_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_a_token_for_resetting_the_customers_password_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Token for verifying the Customer's Email
    # @param project_key [String] 
    # @param customer_create_email_token [CustomerCreateEmailToken] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerToken]
    def create_a_token_for_verifying_the_customers_email(project_key, customer_create_email_token, opts = {})
      data, _status_code, _headers = create_a_token_for_verifying_the_customers_email_with_http_info(project_key, customer_create_email_token, opts)
      data
    end

    # Create a Token for verifying the Customer&#39;s Email
    # @param project_key [String] 
    # @param customer_create_email_token [CustomerCreateEmailToken] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerToken, Integer, Hash)>] CustomerToken data, response status code and response headers
    def create_a_token_for_verifying_the_customers_email_with_http_info(project_key, customer_create_email_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_a_token_for_verifying_the_customers_email ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_a_token_for_verifying_the_customers_email"
      end
      # verify the required parameter 'customer_create_email_token' is set
      if @api_client.config.client_side_validation && customer_create_email_token.nil?
        fail ArgumentError, "Missing the required parameter 'customer_create_email_token' when calling DefaultApi.create_a_token_for_verifying_the_customers_email"
      end
      # resource path
      local_var_path = '/{projectKey}/customers/email-token'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_create_email_token)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_a_token_for_verifying_the_customers_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_a_token_for_verifying_the_customers_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Token for verifying the Customer's Email in store
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_create_email_token [CustomerCreateEmailToken] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerToken]
    def create_a_token_for_verifying_the_customers_email_in_store(project_key, store_key, customer_create_email_token, opts = {})
      data, _status_code, _headers = create_a_token_for_verifying_the_customers_email_in_store_with_http_info(project_key, store_key, customer_create_email_token, opts)
      data
    end

    # Create a Token for verifying the Customer&#39;s Email in store
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_create_email_token [CustomerCreateEmailToken] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerToken, Integer, Hash)>] CustomerToken data, response status code and response headers
    def create_a_token_for_verifying_the_customers_email_in_store_with_http_info(project_key, store_key, customer_create_email_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_a_token_for_verifying_the_customers_email_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_a_token_for_verifying_the_customers_email_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_a_token_for_verifying_the_customers_email_in_store"
      end
      # verify the required parameter 'customer_create_email_token' is set
      if @api_client.config.client_side_validation && customer_create_email_token.nil?
        fail ArgumentError, "Missing the required parameter 'customer_create_email_token' when calling DefaultApi.create_a_token_for_verifying_the_customers_email_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/customers/email-token'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_create_email_token)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_a_token_for_verifying_the_customers_email_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_a_token_for_verifying_the_customers_email_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an Order by Import
    # @param project_key [String] 
    # @param order_import_draft [OrderImportDraft] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_an_order_by_import(project_key, order_import_draft, opts = {})
      create_an_order_by_import_with_http_info(project_key, order_import_draft, opts)
      nil
    end

    # Create an Order by Import
    # @param project_key [String] 
    # @param order_import_draft [OrderImportDraft] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_an_order_by_import_with_http_info(project_key, order_import_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_an_order_by_import ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_an_order_by_import"
      end
      # verify the required parameter 'order_import_draft' is set
      if @api_client.config.client_side_validation && order_import_draft.nil?
        fail ArgumentError, "Missing the required parameter 'order_import_draft' when calling DefaultApi.create_an_order_by_import"
      end
      # resource path
      local_var_path = '/{projectKey}/orders/import'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_import_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_an_order_by_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_an_order_by_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create ApiClient
    # @param project_key [String] 
    # @param api_client_draft [ApiClientDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_api_client(project_key, api_client_draft, opts = {})
      create_api_client_with_http_info(project_key, api_client_draft, opts)
      nil
    end

    # Create ApiClient
    # @param project_key [String] 
    # @param api_client_draft [ApiClientDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_api_client_with_http_info(project_key, api_client_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_api_client ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_api_client"
      end
      # verify the required parameter 'api_client_draft' is set
      if @api_client.config.client_side_validation && api_client_draft.nil?
        fail ArgumentError, "Missing the required parameter 'api_client_draft' when calling DefaultApi.create_api_client"
      end
      # resource path
      local_var_path = '/{projectKey}/api-clients'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_client_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_api_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_api_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key [String] 
    # @param cart_draft [CartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_cart(project_key, cart_draft, opts = {})
      create_cart_with_http_info(project_key, cart_draft, opts)
      nil
    end

    # Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key [String] 
    # @param cart_draft [CartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_cart_with_http_info(project_key, cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_cart ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_cart"
      end
      # verify the required parameter 'cart_draft' is set
      if @api_client.config.client_side_validation && cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'cart_draft' when calling DefaultApi.create_cart"
      end
      # resource path
      local_var_path = '/{projectKey}/carts'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CartDiscount
    # @param project_key [String] 
    # @param cart_discount_draft [CartDiscountDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_cart_discount(project_key, cart_discount_draft, opts = {})
      create_cart_discount_with_http_info(project_key, cart_discount_draft, opts)
      nil
    end

    # Create CartDiscount
    # @param project_key [String] 
    # @param cart_discount_draft [CartDiscountDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_cart_discount_with_http_info(project_key, cart_discount_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_cart_discount ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_cart_discount"
      end
      # verify the required parameter 'cart_discount_draft' is set
      if @api_client.config.client_side_validation && cart_discount_draft.nil?
        fail ArgumentError, "Missing the required parameter 'cart_discount_draft' when calling DefaultApi.create_cart_discount"
      end
      # resource path
      local_var_path = '/{projectKey}/cart-discounts'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cart_discount_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_cart_discount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_cart_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a cart in the store specified by {storeKey}. The {storeKey} path parameter maps to a Store's key. When using this endpoint the cart's store field is always set to the store specified in the path parameter. Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param cart_draft [CartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_cart_in_store(project_key, store_key, cart_draft, opts = {})
      create_cart_in_store_with_http_info(project_key, store_key, cart_draft, opts)
      nil
    end

    # Creates a cart in the store specified by {storeKey}. The {storeKey} path parameter maps to a Store&#39;s key. When using this endpoint the cart&#39;s store field is always set to the store specified in the path parameter. Creating a cart can fail with an InvalidOperation if the referenced shipping method in the CartDraft has a predicate which does not match the cart.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param cart_draft [CartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_cart_in_store_with_http_info(project_key, store_key, cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_cart_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_cart_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_cart_in_store"
      end
      # verify the required parameter 'cart_draft' is set
      if @api_client.config.client_side_validation && cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'cart_draft' when calling DefaultApi.create_cart_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/carts'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_cart_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_cart_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creating a category produces the CategoryCreated message.
    # @param project_key [String] 
    # @param category_draft [CategoryDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_category(project_key, category_draft, opts = {})
      create_category_with_http_info(project_key, category_draft, opts)
      nil
    end

    # Creating a category produces the CategoryCreated message.
    # @param project_key [String] 
    # @param category_draft [CategoryDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_category_with_http_info(project_key, category_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_category ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_category"
      end
      # verify the required parameter 'category_draft' is set
      if @api_client.config.client_side_validation && category_draft.nil?
        fail ArgumentError, "Missing the required parameter 'category_draft' when calling DefaultApi.create_category"
      end
      # resource path
      local_var_path = '/{projectKey}/categories'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(category_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Channel
    # @param project_key [String] 
    # @param channel_draft [ChannelDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_channel(project_key, channel_draft, opts = {})
      create_channel_with_http_info(project_key, channel_draft, opts)
      nil
    end

    # Create Channel
    # @param project_key [String] 
    # @param channel_draft [ChannelDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_channel_with_http_info(project_key, channel_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_channel ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_channel"
      end
      # verify the required parameter 'channel_draft' is set
      if @api_client.config.client_side_validation && channel_draft.nil?
        fail ArgumentError, "Missing the required parameter 'channel_draft' when calling DefaultApi.create_channel"
      end
      # resource path
      local_var_path = '/{projectKey}/channels'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(channel_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new custom object or updates an existing custom object. If an object with the given container/key exists, the object will be replaced with the new value and the version is incremented. If the request contains a version and an object with the given container/key exists then the version must match the version of the existing object. Concurrent updates for the same custom object still can result in a Conflict (409) even if the version is not provided. Fields with null values will not be saved.
    # @param project_key [String] 
    # @param custom_object_draft [CustomObjectDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_custom_object(project_key, custom_object_draft, opts = {})
      create_custom_object_with_http_info(project_key, custom_object_draft, opts)
      nil
    end

    # Creates a new custom object or updates an existing custom object. If an object with the given container/key exists, the object will be replaced with the new value and the version is incremented. If the request contains a version and an object with the given container/key exists then the version must match the version of the existing object. Concurrent updates for the same custom object still can result in a Conflict (409) even if the version is not provided. Fields with null values will not be saved.
    # @param project_key [String] 
    # @param custom_object_draft [CustomObjectDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_custom_object_with_http_info(project_key, custom_object_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_custom_object ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_custom_object"
      end
      # verify the required parameter 'custom_object_draft' is set
      if @api_client.config.client_side_validation && custom_object_draft.nil?
        fail ArgumentError, "Missing the required parameter 'custom_object_draft' when calling DefaultApi.create_custom_object"
      end
      # resource path
      local_var_path = '/{projectKey}/custom-objects'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_object_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_custom_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_custom_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a customer. If an anonymous cart is passed in, then the cart is assigned to the created customer and the version number of the Cart will increase. If the ID of an anonymous session is given, all carts and orders will be assigned to the created customer.
    # @param project_key [String] 
    # @param customer_draft [CustomerDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_customer(project_key, customer_draft, opts = {})
      create_customer_with_http_info(project_key, customer_draft, opts)
      nil
    end

    # Creates a customer. If an anonymous cart is passed in, then the cart is assigned to the created customer and the version number of the Cart will increase. If the ID of an anonymous session is given, all carts and orders will be assigned to the created customer.
    # @param project_key [String] 
    # @param customer_draft [CustomerDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_customer_with_http_info(project_key, customer_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_customer ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_customer"
      end
      # verify the required parameter 'customer_draft' is set
      if @api_client.config.client_side_validation && customer_draft.nil?
        fail ArgumentError, "Missing the required parameter 'customer_draft' when calling DefaultApi.create_customer"
      end
      # resource path
      local_var_path = '/{projectKey}/customers'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_customer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create CustomerGroup
    # @param project_key [String] 
    # @param customer_group_draft [CustomerGroupDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_customer_group(project_key, customer_group_draft, opts = {})
      create_customer_group_with_http_info(project_key, customer_group_draft, opts)
      nil
    end

    # Create CustomerGroup
    # @param project_key [String] 
    # @param customer_group_draft [CustomerGroupDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_customer_group_with_http_info(project_key, customer_group_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_customer_group ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_customer_group"
      end
      # verify the required parameter 'customer_group_draft' is set
      if @api_client.config.client_side_validation && customer_group_draft.nil?
        fail ArgumentError, "Missing the required parameter 'customer_group_draft' when calling DefaultApi.create_customer_group"
      end
      # resource path
      local_var_path = '/{projectKey}/customer-groups'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_group_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_customer_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_customer_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a customer in a specific Store. The {storeKey} path parameter maps to a Store's key. When using this endpoint, if omitted, the customer's stores field is set to the store specified in the path parameter. If an anonymous cart is passed in as when using this method, then the cart is assigned to the created customer and the version number of the Cart increases. If the ID of an anonymous session is given, all carts and orders will be assigned to the created customer and the store specified. If you pass in a cart with a store field specified, the store field must reference the same store specified in the {storeKey} path parameter.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_draft [CustomerDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_customer_in_store(project_key, store_key, customer_draft, opts = {})
      create_customer_in_store_with_http_info(project_key, store_key, customer_draft, opts)
      nil
    end

    # Creates a customer in a specific Store. The {storeKey} path parameter maps to a Store&#39;s key. When using this endpoint, if omitted, the customer&#39;s stores field is set to the store specified in the path parameter. If an anonymous cart is passed in as when using this method, then the cart is assigned to the created customer and the version number of the Cart increases. If the ID of an anonymous session is given, all carts and orders will be assigned to the created customer and the store specified. If you pass in a cart with a store field specified, the store field must reference the same store specified in the {storeKey} path parameter.
    # @param project_key [String] 
    # @param store_key [String] 
    # @param customer_draft [CustomerDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_customer_in_store_with_http_info(project_key, store_key, customer_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_customer_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_customer_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_customer_in_store"
      end
      # verify the required parameter 'customer_draft' is set
      if @api_client.config.client_side_validation && customer_draft.nil?
        fail ArgumentError, "Missing the required parameter 'customer_draft' when calling DefaultApi.create_customer_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/customers'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(customer_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_customer_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_customer_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create DiscountCode
    # @param project_key [String] 
    # @param discount_code_draft [DiscountCodeDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_discount_code(project_key, discount_code_draft, opts = {})
      create_discount_code_with_http_info(project_key, discount_code_draft, opts)
      nil
    end

    # Create DiscountCode
    # @param project_key [String] 
    # @param discount_code_draft [DiscountCodeDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_discount_code_with_http_info(project_key, discount_code_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_discount_code ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_discount_code"
      end
      # verify the required parameter 'discount_code_draft' is set
      if @api_client.config.client_side_validation && discount_code_draft.nil?
        fail ArgumentError, "Missing the required parameter 'discount_code_draft' when calling DefaultApi.create_discount_code"
      end
      # resource path
      local_var_path = '/{projectKey}/discount-codes'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(discount_code_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_discount_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_discount_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Currently, a maximum of 25 extensions can be created per project.
    # @param project_key [String] 
    # @param extension_draft [ExtensionDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_extension(project_key, extension_draft, opts = {})
      create_extension_with_http_info(project_key, extension_draft, opts)
      nil
    end

    # Currently, a maximum of 25 extensions can be created per project.
    # @param project_key [String] 
    # @param extension_draft [ExtensionDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_extension_with_http_info(project_key, extension_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_extension ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_extension"
      end
      # verify the required parameter 'extension_draft' is set
      if @api_client.config.client_side_validation && extension_draft.nil?
        fail ArgumentError, "Missing the required parameter 'extension_draft' when calling DefaultApi.create_extension"
      end
      # resource path
      local_var_path = '/{projectKey}/extensions'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extension_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_extension",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_extension\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create InventoryEntry
    # @param project_key [String] 
    # @param inventory_entry_draft [InventoryEntryDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_inventory_entry(project_key, inventory_entry_draft, opts = {})
      create_inventory_entry_with_http_info(project_key, inventory_entry_draft, opts)
      nil
    end

    # Create InventoryEntry
    # @param project_key [String] 
    # @param inventory_entry_draft [InventoryEntryDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_inventory_entry_with_http_info(project_key, inventory_entry_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_inventory_entry ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_inventory_entry"
      end
      # verify the required parameter 'inventory_entry_draft' is set
      if @api_client.config.client_side_validation && inventory_entry_draft.nil?
        fail ArgumentError, "Missing the required parameter 'inventory_entry_draft' when calling DefaultApi.create_inventory_entry"
      end
      # resource path
      local_var_path = '/{projectKey}/inventory'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inventory_entry_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_inventory_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_inventory_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create MyCart
    # @param project_key [String] 
    # @param my_cart_draft [MyCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_my_cart(project_key, my_cart_draft, opts = {})
      create_my_cart_with_http_info(project_key, my_cart_draft, opts)
      nil
    end

    # Create MyCart
    # @param project_key [String] 
    # @param my_cart_draft [MyCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_my_cart_with_http_info(project_key, my_cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_my_cart ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_my_cart"
      end
      # verify the required parameter 'my_cart_draft' is set
      if @api_client.config.client_side_validation && my_cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'my_cart_draft' when calling DefaultApi.create_my_cart"
      end
      # resource path
      local_var_path = '/{projectKey}/me/carts'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(my_cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_my_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_my_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Cart
    # @param project_key [String] 
    # @param store_key [String] 
    # @param my_cart_draft [MyCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_my_cart_in_store(project_key, store_key, my_cart_draft, opts = {})
      create_my_cart_in_store_with_http_info(project_key, store_key, my_cart_draft, opts)
      nil
    end

    # Create Cart
    # @param project_key [String] 
    # @param store_key [String] 
    # @param my_cart_draft [MyCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_my_cart_in_store_with_http_info(project_key, store_key, my_cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_my_cart_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_my_cart_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_my_cart_in_store"
      end
      # verify the required parameter 'my_cart_draft' is set
      if @api_client.config.client_side_validation && my_cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'my_cart_draft' when calling DefaultApi.create_my_cart_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/me/carts'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(my_cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_my_cart_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_my_cart_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create MyOrder
    # @param project_key [String] 
    # @param my_order_from_cart_draft [MyOrderFromCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_my_order(project_key, my_order_from_cart_draft, opts = {})
      create_my_order_with_http_info(project_key, my_order_from_cart_draft, opts)
      nil
    end

    # Create MyOrder
    # @param project_key [String] 
    # @param my_order_from_cart_draft [MyOrderFromCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_my_order_with_http_info(project_key, my_order_from_cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_my_order ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_my_order"
      end
      # verify the required parameter 'my_order_from_cart_draft' is set
      if @api_client.config.client_side_validation && my_order_from_cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'my_order_from_cart_draft' when calling DefaultApi.create_my_order"
      end
      # resource path
      local_var_path = '/{projectKey}/me/orders'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(my_order_from_cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_my_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_my_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Order
    # @param project_key [String] 
    # @param store_key [String] 
    # @param my_order_from_cart_draft [MyOrderFromCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_my_order_in_store(project_key, store_key, my_order_from_cart_draft, opts = {})
      create_my_order_in_store_with_http_info(project_key, store_key, my_order_from_cart_draft, opts)
      nil
    end

    # Create Order
    # @param project_key [String] 
    # @param store_key [String] 
    # @param my_order_from_cart_draft [MyOrderFromCartDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_my_order_in_store_with_http_info(project_key, store_key, my_order_from_cart_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_my_order_in_store ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_my_order_in_store"
      end
      # verify the required parameter 'store_key' is set
      if @api_client.config.client_side_validation && store_key.nil?
        fail ArgumentError, "Missing the required parameter 'store_key' when calling DefaultApi.create_my_order_in_store"
      end
      # verify the required parameter 'my_order_from_cart_draft' is set
      if @api_client.config.client_side_validation && my_order_from_cart_draft.nil?
        fail ArgumentError, "Missing the required parameter 'my_order_from_cart_draft' when calling DefaultApi.create_my_order_in_store"
      end
      # resource path
      local_var_path = '/{projectKey}/in-store/key={storeKey}/me/orders'.sub('{' + 'projectKey' + '}', CGI.escape(project_key.to_s)).sub('{' + 'storeKey' + '}', CGI.escape(store_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(my_order_from_cart_draft)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth_2_0']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_my_order_in_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_my_order_in_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create MyPayment
    # @param project_key [String] 
    # @param my_payment_draft [MyPaymentDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [nil]
    def create_my_payment(project_key, my_payment_draft, opts = {})
      create_my_payment_with_http_info(project_key, my_payment_draft, opts)
      nil
    end

    # Create MyPayment
    # @param project_key [String] 
    # @param my_payment_draft [MyPaymentDraft] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :expand 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_my_payment_with_http_info(project_key, my_payment_draft, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_my_payment ...'
      end
      # verify the required parameter 'project_key' is set
      if @api_client.config.client_side_validation && project_key.nil?
        fail ArgumentError, "Missing the required parameter 'project_key' when calling DefaultApi.create_my_payment"
      end
      # verify the required parameter 'my_payment_draft' is set
      if @api_client.config.client_side_validation && my_payment_draft.nil?
        fail ArgumentError, "Missing the required parameter 'my_payment_draft' when calling DefaultApi.create_my_payment"
      end
      # resource path
[...]
